<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRH UNIVERSITY</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="{{ url_for('index_get') }}"><img src="/static/images/SRH.jpeg" alt="SRH Logo"></a>
            <div class="nav-links" id="navLinks">
                
                <ul>
                    <li><a href="{{ url_for('index_get') }}">ஹோம்</a></li>
                    <li><a href="{{ url_for('about_get') }}">அபௌட்</a></li>
                    <li><a href="{{ url_for('course_get') }}">கோர்ஸஸ்</a></li>
                    <li><a href="{{ url_for('events_get') }}">நிகழ்வுகள்</a></li>
                    <li><a href="{{ url_for('contact_get') }}">காண்டாக்ட்</a></li>
                </ul>
            </div>
            
        </nav>
        <h1 style="text-align: center;">உங்களுக்கு உதவுவதில் நாங்கள் மகிழ்ச்சியடைகிறோம்</h1>
    </section>
        
<!-- CONTACT PAGE  -->
 <section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.093736686106!2d13.319430976533944!3d52.51364267205957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8511c7d2da0bb%3A0x9c7c4aacdf1dca56!2sSRH%20Hochschule%20Berlin!5e0!3m2!1sen!2sde!4v1723022772289!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </section>

 <section class="contact-us">
    <div class="container">
        <div class="info-col">
            <div>
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>
                    <h5>SRH ஹொக்ஷுலே பெர்லின்</h5>
                    <p>எர்ன்ஸ்ட்-ராய்டர்-பிளாட்ஸ் 10, 10587 பெர்லின்</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    <h5>+49 30515650100</h5>
                    <p>திங்கள் முதல் வெள்ளி வரை, காலை 9 மணி முதல் மாலை 4 மணி வரை </p>
                </span>
            </div>
            <div>
                <i class="fa fa-envelope-square" aria-hidden="true"></i>
                <span>
                    <h5>studyinberlin@srh.de</h5>
                    <p>உங்கள் கேள்வியை எங்களுக்கு மின்னஞ்சல் செய்யவும்</p>
                </span>
            </div>
        </div>
    
        <div class="message-col">
            <form action="form.handler.php" method="post">
                <input type="text" name="name" placeholder="உங்கள் பெயரை உள்ளிடவும்" required>
                <input type="email" name="email" placeholder="உங்கள் மின்னஞ்சல் முகவரியை உள்ளிடவும்" required>
                <input type="text" name="subject" placeholder="உங்கள் தலைப்பை உள்ளிடவும்" required>
                <textarea rows="8" name="message"  placeholder="செய்தி" required></textarea>
                <button type="submit" class="hero-btn red-btn">செய்தி அனுப்ப</button>
            </form>
        </div>
    </div>
    
  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Footer -->
       <!-- Footer -->
       <section class="footer">
        <h4>எங்களை பற்றி</h4>
        <p class="center-text">
            நாங்கள் SRH பேர்லின்! SRH பெர்லின் பயன்பாட்டு அறிவியல் பல்கலைக்கழகம் 2019 இல் SRH ஹோட்சுலே பெர்லின் SRH ஹோட்டல்-அகாடமி டிரெஸ்டன், SRH Hochschule der populären Künste (hdpk) மற்றும் வடிவமைப்பு அகாடமி - SRH Hochschule Füund.
            2020 முதல், எங்கள் புதிய SRH கேம்பஸ் ஹாம்பர்க்குடன் நாட்டின் வடபகுதியிலும் நாங்கள் பிரதிநிதித்துவப்படுத்தப்படுகிறோம்.
        </p>
        <div class="icons">
            <a href="https://www.facebook.com/srhberlin" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/srhberlin/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/c/HdpkDe" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://api.whatsapp.com/send/?phone=491622095897&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/school/srh-berlin-university-of-applied-sciences/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <p class="made-by">மேட் வித் <i class="fa fa-heart"></i>  அரவிந்த லோஷன்</p>
    </section>
    

<!-- JavaScript for toogle menu  -->

<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }
    function hideMenu() {
        navLinks.style.right = "-200";
    }
</script>

</body>
</html>
