<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRH UNIVERSITY</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="{{ url_for('index_get') }}"><img src="/static/images/SRH.jpeg" alt="SRH Logo"></a>
            <div class="nav-links" id="navLinks">
                
                <ul>
                    <li><a href="{{ url_for('index_get') }}">ஹோம்</a></li>
                    <li><a href="{{ url_for('about_get') }}">அபௌட்</a></li>
                    <li><a href="{{ url_for('course_get') }}">கோர்ஸஸ்</a></li>
                    <li><a href="{{ url_for('events_get') }}">நிகழ்வுகள்</a></li>
                    <li><a href="{{ url_for('contact_get') }}">காண்டாக்ட்</a></li>
                </ul>
            </div>
            
        </nav>
        <h1 style="text-align: center;">எங்கள் கோர்ஸஸ்</h1>
    </section>

    <section style="text-align: center;">
        <h1>மாஸ்டர் ஸ்டடீஸ் - தி நெக்ஸ்ட் ஸ்டெப் டு யூர் ப்ரொஃஷனல் ஸக்ஸஸ்</h1>
        <p style="text-align: center;">எங்கள் ஆங்கில மாஸ்டர் பட்டப்படிப்புகளின் கண்ணோட்டம் கீழே உள்ளது.</p>

    </section>
    
    <!DOCTYPE html>
    <html lang="ta">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Course Content</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <!-- Course content -->
        <section class="course">
            <div class="row">
                <div class="course-col">
                    <div>
                        <h2>டிசைன்</h2>
                        <ul>
                            <li>எம்.ஏ. ஸ்டிராட்டஜிக் டிசைன் (பெர்லின்)</li>
                            <li>எம்.ஏ. சொசியல் டிசைன் & சஸ்டெய்னபிள் இனோவேஷன் (பெர்லின்)</li>
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>பிலிம் & போட்டோகிராபி</h2>
                        <ul>
                            <li>எம்.ஏ. பிலிம், டெலிவிஷன் அண்ட் டிஜிட்டல் நாற்ரேடிவ்ஸ் (பெர்லின்)</li>
                            <li> எம்.ஏ. போட்டோகிராபி (பெர்லின்)</li>
                        </ul>
                    </div>
                </div>

                <div class="course-col">
                    <div>
                        <h2> சார்ட் கோர்சஸ்</h2>
                        <ul>
                            <li>சோலார் விண்டர் ஸ்கூல்</li>
                            <li>சோலார் சம்மர் டீம்-அப்!</li>
                            <li>இன்டர்நேஷனல் விண்ட் இந்தியா டிரைனிங்</li>
                            <li>சேஞ்ச் மேனேஜ்மெண்ட் எக்ஸிகியூட்டிவ் பிரோகிராம்</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>மெனேஜ்மென்ட் (ட்ரெஸ்டன்)</h2>
                        <ul>
                            <li>எம்.ஏ ஹாஸ்பிடாலிட்டி மேனேஜ்மெண்ட் அண்ட் லீடர்ஷிப் (ட்ரெஸ்டன்)</li>
                            <li> எம்.ஏ இன்டர்நேஷனல் பிஸினஸ் அண்ட் லீடர்ஷிப் (ட்ரெஸ்டன்)</li>
                            <li> எம்.ஏ இன்டர்நேஷனல் பிஸினஸ்-ஹெல்த்கேர் மானேஜ்மெண்ட் (ட்ரெஸ்டன்)</li>
                            
                        </ul>
                    </div>
                </div>

                <div class="course-col">
                    <div>
                        <h2>மெனேஜ்மென்ட் (ஹாம்பர்க்)</h2>
                        <ul>
                            <li>எம்.எஸ்.சி. டிஜிட்டல் டிரான்ஸ்பர்மேஷன் மேனேஜ்மெண்ட்  (ஹாம்பர்க்)</li>
                            <li> எம்.ஏ இன்டர்நேஷனல் பிஸினஸ் அண்ட் லீடர்ஷிப் (ஹாம்பர்க்)</li>
                            <li> எம்.ஏ இன்டர்நேஷனல் பிஸினஸ்- ஸஸ்டெய்னபிலிட்டி மேனேஜ்மென்ட் (ஹாம்பர்க்)</li>
                            
                        </ul>
                    </div>
                </div>

                <div class="course-col">
                    <div>
                        <h2>சப்ளை செயின் மேனேஜ்மெண்ட்</h2>
                        <ul>
                            <li>எம்.எஸ்.சி. சப்ளை செயின் மேனேஜ்மெண்ட் (பெர்லின்)</li>
                            <li>எம்.எஸ்.சி. டிஜிட்டல் சப்ளை செயின் மேனேஜ்மெண்ட் (பெர்லின்)</li>
                            <li>எம்.எஸ்.சி. ஸஸ்தெய்னபிள் சப்ளை செயின் மேனேஜ்மெண்ட் (பெர்லின்) </li>
                            <li> எம்.எஸ்.சி. சப்ளை செயின் மேனேஜ்மெண்ட்(ஹாம்பர்க்)</li>
                            
                        </ul>
                    </div>
                </div>
    
                <div class="course-col">
                    <div>
                        <h2>என்ஜினீரிங்</h2>
                        <ul>
                            <li>எம்.இங். ஸஸ்டெயினபிள் பேட்டரி புரொடக்‌ஷன் இன்ஜினியரிங் | ட்யூயல் (பெர்லின்)</li>
                            <li>எம்.இங். இன்ஜினியரிங் அண்ட் இன்டர்நேஷனல் பிஸ்னஸ் - ரினியூஅபிள் எனர்ஜி, வாட்டர் அண்ட் வேஸ்ட் மேனேஜ்மென்ட் (பெர்லின்)</li>
                            <li>எம்.இங். இன்ஜினியரிங் அண்ட் ஸஸ்டெயினபிள் டெக்‌நாலஜி மேனேஜ்மென்ட் - மோபிலிட்டி அண்ட் ஆட்டோமோட்டிவ் இன்டஸ்ட்ரி (பெர்லின்)</li>
                            <li> எம்.இங். இன்ஜினியரிங் அண்ட் ஸஸ்டெயினபிள் டெக்‌நாலஜி மேனேஜ்மென்ட் - இன்டஸ்ட்ரி 4.0: ஆட்டோமேஷன், ரொபோடிக்ஸ் & 3D மேனுஃபாக்சரிங் (பெர்லின்)</li>
                            <li>எம்.இங். இன்ஜினியரிங் அண்ட் ஸஸ்டெயினபிள் டெக்‌நாலஜி மேனேஜ்மென்ட் - ஸ்மார்ட் பில்டிங் டெக்‌நாலஜீஸ் (பெர்லின்)</li>
                            <li>எம்.இங். இன்டர்நேஷனல் பிஸ்னஸ் & இன்ஜினியரிங் (ஹாம்பர்க்)</li>
                        </ul>
                    </div>
                </div>
               
                <div class="course-col">
                    <div>
                        <h2>கம்ப்யூட்டர் சயின்ஸ்</h2>
                        <ul>
                            <li>எம்.எஸ்.சி. கம்ப்யூட்டர் சயின்ஸ் - சைபர் செக்யூரிட்டி(பெர்லின்)</li>
                            <li>எம்.எஸ்.சி. கம்ப்யூட்டர் சயின்ஸ் - சைபர் செக்யூரிட்டி(லீப்ஜிக்)</li>
                            <li>எம்.எஸ்.சி. ஆப்லைட் டேட்டா சயின்ஸ் மற்றும் அனலிட்டிக்ஸ் (ஹாம்பர்க்)</li>
                            <li>எம்.எஸ்.சி. ஆப்லைட் சைபர்செக்யூரிட்டி(பெர்லின்)</li>
                            <li>எம்.எஸ்.சி. கம்ப்யூட்டர் சைன்ஸ்-பிக் டேட்டா அண்ட் ஆர்டிபிஷியல் இன்டெலிஜென்ஸ் (பெர்லின்)</li>
                            <li>எம்.எஸ்.சி. கம்ப்யூட்டர் சைன்ஸ்-பிக் டேட்டா அண்ட் ஆர்டிபிஷியல் இன்டெலிஜென்ஸ் (லீப்ஜிக்)</li>
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>மெனேஜ்மென்ட் (பெர்லின்)</h2>
                        <ul>
                            <li>எம்.ஏ இன்டர்நேஷனல் மேனேஜ்மெண்ட்(பெர்லின்)</li>
                            <li> எம்.ஏ. இன்டர்நேஷனல் மேனேஜ்மெண்ட்-க்ரியேட்டிவ் லீடர்ஷிப்(பெர்லின்)</li>
                            <li> எம்.ஏ. இன்டர்நேஷனல் மேனேஜ்மெண்ட்-எண்ட்ரப்ரெனர்ஷிப் அண்ட் இன்ட்ரப்ரெனர்ஷிப் (பெர்லின்)</li>
                        </ul>
                    </div>
                </div>

                <!-- Bachelor's Courses  -->
                <section style="text-align: center;">
                    <h1>பாச்லர் புரோகிராம்ஸ் - யூர் ஸ்டார்ட் டு அன் இன்டர்நேஷனல் கேரியர் </h1>
                    <p style="text-align: center;">எங்கள் ஆங்கில பாச்லர் பட்டப்படிப்புகளின் கண்ணோட்டம் கீழே உள்ளது.</p>
            
                </section>
                
                    <!-- Bachelor's Course content -->
        <section class="course">
            <div class="row">
                <div class="course-col">
                    <div>
                        <h2>பில்ம் & ஃபோட்டோகிராபி</h2>
                        <ul>
                            <li>பி.ஏ. ஃபில்மு & மோஷன் டிசைன் (பெர்லின்)</li>
                            <li>பி.ஏ. ஃபோட்டோகிராபி (பெர்லின்)</li>    
                        </ul>
                    </div>
                </div>

                <div class="course-col">
                    <div>
                        <h2>மியூசிக் & சவுண்ட்</h2>
                        <ul>
                            <li>பி.ஏ. ஆடியோ டிசைன் (பெர்லின்)</li>
                            <li>பி.ஏ. மியூசிக் புரொடக்ஷன் (பெர்லின்)</li>
                            <li> பி.முஸ். பாப்யுலர் மியூசிக் (பெர்லின்)</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>டெக்னாலஜி அண்ட் UX டிசைன்</h2>
                        <ul>
                            <li>பி.எங் அப்ளைட் மெகாட்ரோனிக் சிஸ்டம்ஸ் (பெர்லின்)</li>
                            <li>பி.ஏ. யூசர் எக்ஸ்பீரியன்ஸ் டிசைன் அண்ட் கண்டென்ட் கிரியேஷன் (பெர்லின்)</li>
                            <li>பி.ஏ. யூசர் எக்ஸ்பீரியன்ஸ் டிசைன் அண்ட் கண்டென்ட் கிரியேஷன் (லீப்ஜிக்)</li>
                           
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>கம்ப்யூட்டர் சயின்ஸ்</h2>
                        <ul>
                            <li>பி.எஸ்.சி கம்ப்யூட்டர் சயின்ஸ் (பெர்லின்)</li>
                            <li>பி.எஸ்.சி கம்ப்யூட்டர் சயின்ஸ் (லீப்ஜிக்)</li>
                            <li>பி.எஸ்.சி கம்ப்யூட்டர் சயின்ஸ் (ஸ்டட்கார்ட்)</li>
                            <li>பி.எஸ்.சி வெப் டெவலப்ப்மெண்ட்(பெர்லின்)</li>
                            <li>பி.எஸ்.சி வெப் டெவலப்ப்மெண்ட்| ட்யூயல் (பெர்லின்)</li>  
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>பிஸினஸ் & ஹோட்டல் மேனேஜ்மென்ட் (லீப்ஜிக்)</h2>
                        <ul>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன் (லீப்ஜிக்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- சப்ளை செயின் மேனேஜ்மெண்ட் (லீப்ஜிக்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்-அட்டோமொட்டிவ் டெக்னாலஜி அண்ட் மேனேஜ்மென்ட்(லீப்ஜிக்)</li>
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>டிசைன், கம்யூனிகேஷன் & மீடியா</h2>
                        <ul>
                            <li>பி.ஏ. இல்லஸ்ட்ரேஷன் (பெர்லின்)</li>
                            <li>பி.ஏ. அட்வர்டைசிங் அண்ட் பிராண்ட் டிசைன் (பெர்லின்)</li>
                            <li>பி.ஏ. யூசர் எக்ஸ்பிரியன்ஸ் டிசைன் அண்ட் கண்டென்ட் கிரியேஷன் (பெர்லின்)</li>
                            <li>பி.ஏ. கிரியேட்டிவ் இன்டஸ்டிரீஸ் மேலாண்மை (பெர்லின்)</li>
                            
                        </ul>
                    </div>
                </div>

                <div class="course-col">
                    <div>
                        <h2>பிஸ்னஸ் (பெர்லின்)</h2>
                        <ul>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன் (பெர்லின்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- டிஜிடல் மார்கெட்டிங் (பெர்லின்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- பிஸினஸ் சைக்காலஜி (பெர்லின்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- ஹெல்த்கேர் மேனேஜ்மென்ட் (பெர்லின்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- சப்ளை செயின் மேனேஜ்மெண்ட் (பெர்லின்)</li>
                            <li>பி.ஏ கிரியேட்டிவ் இன்டஸ்ட்ரீஸ் மேனேஜ்மெண்ட் (பெர்லின்)</li>
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>பிஸினஸ் & ஹோட்டல் மேனேஜ்மென்ட் (டிரெஸ்டன், ஹாம்பர்க்)</h2>
                        <ul>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன் (ஹாம்பர்க்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- டிஜிடல் மார்கெட்டிங் (ஹாம்பர்க்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- பிஸினஸ் சைக்காலஜி (ஹாம்பர்க்)</li>
                            <li>பி.ஏ குளோபல் ஹாஸ்பிடாலிட்டி மேனேஜ்மென்ட் (டிரெஸ்டன்)</li>
                    
                        </ul>
                    </div>
                </div>
                <div class="course-col">
                    <div>
                        <h2>ஹெல்த் & சைக்காலஜி</h2>
                        <ul>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- ஹெல்த்கேர் மேனேஜ்மென்ட் (பெர்லின்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- பிஸினஸ் சைக்காலஜி (பெர்லின்)</li>
                            <li>பி.ஏ இன்டர்நேஷனல் பிசினஸ் அட்மினிஸ்ட்ரேஷன்- பிஸினஸ் சைக்காலஜி (ஹாம்பர்க்)</li>
                            <li>பி.எஸ்.சி கம்ப்யூட்டர் சயின்ஸ்-ஹெல்த்கேர் மேனேஜ்மென்ட் (பெர்லின்)</li>
                        </ul>
                    </div>
                </div>
                
                </div>
            </div>
        </section>
    </body>
    </html>
    
         

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  
    <!-- Footer -->
    <section class="footer">
        <h4>எங்களை பற்றி</h4>
        <p class="center-text">
            நாங்கள் SRH பேர்லின்! SRH பெர்லின் பயன்பாட்டு அறிவியல் பல்கலைக்கழகம் 2019 இல் SRH ஹோட்சுலே பெர்லின் SRH ஹோட்டல்-அகாடமி டிரெஸ்டன், SRH Hochschule der populären Künste (hdpk) மற்றும் வடிவமைப்பு அகாடமி - SRH Hochschule Füund.
            2020 முதல், எங்கள் புதிய SRH கேம்பஸ் ஹாம்பர்க்குடன் நாட்டின் வடபகுதியிலும் நாங்கள் பிரதிநிதித்துவப்படுத்தப்படுகிறோம்.
        </p>
        <div class="icons">
            <a href="https://www.facebook.com/srhberlin" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/srhberlin/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/c/HdpkDe" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://api.whatsapp.com/send/?phone=491622095897&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/school/srh-berlin-university-of-applied-sciences/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <p class="made-by">மேட் வித் <i class="fa fa-heart"></i>  அரவிந்த லோஷன்</p>
    </section>

    <!-- JavaScript for toggle menu  -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>
